/* dark mode  #FFEB81 */

p.p1 {
  margin: 0px 0px 5px 0px;
  text-align: justify;
}

p strong {
  font-weight: bold;
  font-size: larger;
  color: black;
}

p.p2 {
  margin: 0px 0px 5px 0px;
  text-align: justify;

  min-height: 14px;
}

p.p3 {
  margin: 0px 0px 5px 36px;
  text-align: justify;
}

li.li1 {
  margin: 0px 0px 5px 0px;
  text-align: justify;
}

span.s1 {
  text-decoration: underline;
  color: #1b4a87;
}

span.s2 {
  font: 12px;
}

span.s3 {
  color: #fb0007;
}

span.s4 {
  color: #1b4a87;
}

span.s5 {
  text-decoration: underline;
  color: #386573;
}

ul.ul1 {
  list-style-type: disc;
}
p.p1 {
  margin: 0px 0px 8px 0px;
}

p.p2 {
  margin: 0px 0px 8px 0px;
  text-align: justify;
}

p.p3 {
  margin: 0px 0px 8px 0px;
  text-align: justify;

  min-height: 14px;
}

p.p4 {
  margin: 0px 0px 5px 0px;
}

p.p5 {
  margin: 0px 0px 5px 0px;
  text-align: justify;
}

p.p6 {
  margin: 0px 0px 5px 36px;
  text-align: justify;
}

p.p7 {
  margin: 0px 0px 8px 0px;

  min-height: 14px;
}

li.li2 {
  margin: 0px 0px 8px 0px;
  text-align: justify;
}

li.li5 {
  margin: 0px 0px 5px 0px;
  text-align: justify;
}

span.s1 {
  text-decoration: underline;
  color: #1b4a87;
}

span.s2 {
  font: 12px;
}

span.s3 {
  text-decoration: underline;
  color: #578fa0;
}

ul.ul1 {
  list-style-type: disc;
  padding-left: 18px;
}
